body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#my-extension-root {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 2147483647;
	/* background-color: white; */
	/* box-shadow: 0px 0px 5px #0000009e; */
	pointer-events: none;
}

/* #my-extension-root iframe {
	width: 100%;
	height: 100%;
	border: none;
} */

.App {
	height: 100vh !important;
	width: 100% !important;
	/* background-color: rebeccapurple; */
	margin: 0 auto;
	pointer-events: none;
	z-index: 2147483647;
}

.chat {
	/* position: absolute; */
	width: 400px;
	padding: 10px;
	cursor: grab;
	display: inline-flex;
	flex-direction: column;
	pointer-events: all;
}

.chat-line {
	overflow: hidden;
	max-height: 0px;
	display: inline-block;
	transition: opacity 2s, max-height 1s, margin-top 1s;
}
.chat-line.visible {
	/* margin-top: 10px; */
	max-height: 300px;
	transition: opacity 2s, max-height 1s, margin-top 300ms;
}
.chat-line .chat-line-inner {
	background-color: hsla(211, 100%, -22%, 0.3);
	color: white;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	overflow-wrap: break-word;
}
.chat-line .chat-line-inner .badges img.badge {
	margin-right: 6px;
	vertical-align: text-bottom;
	width: 18px;
	height: 18px;
}

.message img {
	vertical-align: text-bottom;
}
.message img.emoji {
	width: 20px;
}

.username {
	font-weight: 650;
}
