body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#my-extension-root {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 2147483647;
	pointer-events: none;
}

.App {
	height: 100vh !important;
	width: 100% !important;
	margin: 0 auto;
	pointer-events: none;
	z-index: 2147483647;
}

.chat {
	position: absolute;
	width: 400px;
	overflow: hidden;
	right: 0;
	padding: 10px;
	display: inline-flex;
	flex-direction: column;
	pointer-events: all;
}

.chat-inner {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	display: inline-flex;
	flex-direction: column;
}

.chat-inner:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.chat-line {
	overflow: hidden;
	max-height: 0px;
}

.chat-line.visible {
	max-height: 300px;
}
.chat-line .chat-line-inner {
	color: white;
	padding: 7px;
	margin: 3px;
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-line .chat-line-inner-compact {
	color: white;
	padding: 5px;
	height: 100%;
	overflow-wrap: break-word;
}

.chat-line .chat-line-inner .badges img.badge {
	margin-right: 6px;
	vertical-align: text-bottom;
	width: 18px;
	height: 18px;
}

.chat-line .chat-line-inner-compact .badges img.badge {
	margin-right: 6px;
	vertical-align: text-bottom;
	width: 18px;
	height: 18px;
}

.message img {
	vertical-align: text-bottom;
}
.message img.emoji {
	width: 20px;
}

.username {
	font-weight: 650;
}

.btn-left {
	margin-left: auto;
	margin-right: 350px;
}

.btn-right {
	margin-left: auto;
	margin-right: 10px;
}

.close {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
	background: rgba(0, 0, 0, 0.575);
	position: absolute;
	top: 20px;
	right: 0;
	display: block;
	pointer-events: all;
	opacity: 0;
	cursor: pointer;
}

.close:before,
.close:after {
	content: '';
	width: 55%;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 48%;
	left: 22%;
}

.chat:hover + .close {
	opacity: 1;
}

.close:hover {
	opacity: 1;
}

.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}
